page-login {

    .bgcolor {
        background-color: map-get($colors, secondary);
    }

    ion-item.item.item-block.item-md.item-input {
        border: 2px solid map-get($colors, secondary);
        padding: 0px 20px;
        margin: 1rem 0;
        border-radius: 10px;
    }

    .login-button {
        height: 48px;
        border-radius: 10px;
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    h1 {
        font-size: 2.2rem;
        line-height: 1;
    }

    ion-input {
        color: #000;
    }

    .list-md .item-block .item-inner {
        border-bottom: 0 !important;
    }

    .inputholder{
        ion-item{    
            .passwordIcon{
                z-index: 100 !important;
            }
        }
    }

    .list-md .item-block .item-inner {
        border-bottom: 0 !important;
    }

    .button-md {
        text-transform: inherit;
    }

    .button-inner {
        justify-content: space-around !important;
    }

    .vertical-align-content > * {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  -webkit-box-shadow: inset 0 0 0 0;
  box-shadow: inset 0 0 0 0;
}

}
