
.center {
    text-align: center;
    margin: auto;
    display: block;
  }

  .align-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
   justify-content: center;
  }

  .button-md, .card-md {
    border-radius: 10px;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent !important;
  }
  
  .button01 span {
    display: flex !important; 
    justify-content: flex-end !important;
  }
  
  .toolbar-title-md {
    // font-size: 1.5rem !important;
    //margin-left: -30px !important;
    color: map-get($colors, primary) !important;
    font-weight: 400 !important;
  }

  // botões de curtida e comentar
  .button-small-md {
    font-size: 1.7rem;
}
  
  hr {
    height: 0.18rem !important;
    width: 85% !important;
    background-color: #c4dded !important;
  }
  
  .bar-button-default-md {
    color: map-get($colors, primary) !important;
  }
  
  .tabs-md .tab-button-icon {
      font-size: 3.2rem !important;
  }
   
  .tabs-md-primary .tab-button[aria-selected=true] {
      background-color: #2699fb;
  }

    // estilizando o toast
    .errorCss {
      .toast-wrapper {
        text-align: center;
        background-color: map-get($colors, danger);
      } 
   }
  
   .successCss {
    .toast-wrapper {
      text-align: center;
      background-color: map-get($colors, primary);
      
    } 
  }